<!--The content below is only a placeholder and can be replaced.-->
<ul style="display:inline">
    <li><a routerLink=''>Home</a></li>
    <li><a routerLink='booklist'>Book List</a></li>
    <li><a routerLink='bookInstance'>Book Instances</a></li>   
    <li><a routerLink='authorList'>Authors</a></li>   
    <li><a routerLink='genreList'>Genres</a></li>   
    <li><a routerLink='genreEditForm'>Create Genres</a></li>   
    <li><a routerLink='genreAddForm'>Update Genres</a></li>   

</ul><br><br><br>
<router-outlet></router-outlet>